pkgbase = hyprshot
	pkgdesc = Lightweight screenshot and annotation tool for Hyprland (Rust version)
	pkgver = 0.3.0.alpha
	pkgrel = 1
	url = https://github.com/misery8/hyprshot
	arch = x86_64
	license = GPL3
	makedepends = cargo
	makedepends = git
	depends = gtk4
	depends = gdk-pixbuf2
	depends = glib2
	depends = cairo
	depends = grim
	depends = gtk4-layer-shell
	provides = hyprshot
	conflicts = hyprshot
	source = hyprshot::git+https://github.com/misery8/hyprshot.git
	sha256sums = SKIP

pkgname = hyprshot
